.addFolderForm {
  position: absolute;
  top: -200px;
  left: 10px;
  width: 187px;
  height: 167px;
  padding: 10px;
  background: rgb(247, 247, 247);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
  border: 3px solid rgb(233, 233, 233);
  border-radius: 10px;
  user-select: none;

  &-close {
    position: absolute;
    top: -10px;
    right: 0px;
    width: 17px;
    height: 17px;
    background-color: #ffffff;
    border-radius: 30px;
    border: 3px solid rgb(233, 233, 233);
    color: rgb(175, 174, 174);
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover {
      color: rgb(0, 0, 0);
      font-size: 300px;
      background-color: rgb(255, 255, 255);
    }
    &:active {
      filter: opacity(0.5);
    }
  }
  &-btn {
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    color: #00a7c7;
    font-size: 15px;
    padding: 5px 19px 5px 19px;
    margin-left: 8px;
    box-shadow: 0px 16px 17px rgba(0, 0, 0, 0.06);
    transition: all 0.1s ease;
    &:hover {
      background-color: #fff;
    }
    &:active {
      background-color: rgb(255, 255, 255);
      color: #dabc4f;
      box-shadow: none;
    }
  }

  &-input {
    text-align: center;
    margin-bottom: 10px;
    padding: 5px 6px 5px 6px;
    width: 100px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    color: rgb(77, 77, 77);
    // border-bottom: 1px solid rgb(204, 204, 204);
    box-shadow: 0px 16px 17px rgba(0, 0, 0, 0.06);

    &::placeholder {
      padding-left: 0px;
      color: rgb(219, 219, 219);
      font-size: 14px;
    }
  }

  &__colors {
    display: flex;
    justify-content: space-around;

    &-ul {
      width: 25px;
      padding: 5px 1px 5px 0;
      text-align: center;
      &:hover {
        border-radius: 30px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.07);
        transition: all 0.2s ease;
      }
      &:active {
        box-shadow: none;
      }

      &__color {
        outline: 2px solid rgb(255, 255, 255);
        border-radius: 30px;
        transition: all 0.2 ease;
        cursor: pointer;
        &.active {
          outline: 3px solid rgb(214, 214, 214);
        }
        &:hover {
          background-color: #fff;
          filter: opacity(0.8);
          border-radius: 30px;
        }
        &:active {
          filter: saturate(100%);
        }
      }
      svg {
        width: 15px;
        height: 15px;
      }
    }
  }
}
