.addTaskForm {
  width: 97%;
  margin: 0 auto;
  margin-top: 30px;
  height: auto;
  position: relative;

  &-box {
    margin: 10px 0;
    padding-top: 10px;
    border: 2px solid #ffffff;
    border-radius: 20px;
    width: auto;
    height: auto;
    box-shadow: 0px 16px 17px rgba(0, 0, 0, 0.03);
    display: flexbox;
    flex-wrap: nowrap;

    .close {
      position: absolute;
      top: -10px;
      right: -10px;
      width: 30px;
      height: 30px;
      color: rgb(156, 156, 156);
      background-color: rgb(243, 243, 243);
      filter: opacity(0.5);
      transition: all 0.2s ease;
      border-radius: 20px;
      border: 2px solid white;
      &:hover {
        color: rgb(184, 184, 184);
        filter: opacity(1);
      }
      &:active {
        color: rgb(153, 15, 15);
      }
    }
    .formInfo {
      color: rgb(204, 19, 19);
      font-size: 20px;
    }

    input {
      text-align: center;
      margin: 5px;
      width: 92%;
      border: none;
      font-size: 20px;
      padding: 4px 2%;
      margin-bottom: 10px;
      border-radius: 20px;
      box-shadow: 0px 16px 17px rgba(0, 0, 0, 0.03);
      font-size: 40px;
      color: rgb(49, 49, 49);
      &::placeholder {
        color: rgb(197, 197, 197);
      }
    }

    .time {
      color: rgb(197, 197, 197);
      height: 40px;
      &::-webkit-calendar-picker-indicator {
        display: none;
      }
    }

    .disk {
      text-align: left;
      width: 92%;
      border: none;
      padding: 2%;
      margin-top: 5px;
      border-radius: 10px;
      font-size: 25px;
      color: rgb(102, 102, 102);
      box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.03);
      &::placeholder {
        color: rgb(197, 197, 197);
      }
      &::-webkit-scrollbar {
        width: 5px;
        background-color: #f9f9fd;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #cfcfcf;
        &:hover {
          background-color: #c4c4c4;
        }
      }
      &::placeholder {
        color: rgb(197, 197, 197);
      }
    }

    .addBtn {
      margin: 5px 0 15px 0;
      padding: 5px 20px;
      color: rgb(102, 102, 102);
      font-size: 30px;
      border-radius: 10px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.03);
      transition: all 0.1s ease;
      border: none;
      width: 96%;
      height: 50px;
      cursor: pointer;
      svg {
        width: 20px;
        height: 18px;
      }

      &:hover {
        background-color: rgb(245, 245, 245);
      }
      &:active {
        background-color: rgb(255, 224, 46);
        color: rgb(255, 255, 255);
      }
    }
  }
}

@media (max-width: 500px) {
  input.name {
    font-size: 6vw;
    height: 30px;
    &::placeholder {
      font-size: 6vw;
    }
  }

  .disk {
    font-size: 5vw;
    line-height: 6vw;
    text-align: left;
    padding-bottom: 10px;

    &::placeholder {
      font-size: 5vw;
    }
  }
}
