@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: "Righteous", "Montserrat Alternates", sans-serif, -apple-system,
    system-ui, sans-serif;
  font-size: 20px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osz-font-smoothing: grayscale;
  position: relative;
}

.all {
  display: flex;
}
