$pad: 3vh;

.foldersBox {
  background-color: rgb(104, 97, 170);
  width: 100vw;
  height: 100vh - 2 * $pad;
  padding: $pad $pad/2 $pad $pad/2;
  box-shadow: inset 10px 0px 100px 2px rgba(0, 0, 0, 0.05);
}

.foldersList {
  &.grid {
    height: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    // grid-template-rows: repeat(auto-fit, minmax(1px, 1fr));
  }
}

.folder {
  background-color: rgb(243, 243, 243);
  padding: 2vw;
  color: rgb(68, 65, 65);
  border-radius: 30px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.07);
  text-align: center;
  margin: 0 0 auto 0;
  &__name {
    font-size: 3vw;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(230, 230, 230);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.04);
  }
}

.task {
  &.ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &.li {
    margin: 10px 4px 10px 0;
    border: 2px solid rgb(250, 250, 250);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    padding: 0 20px;
    width: auto;
    text-align: center;
  }
  &__name {
    font-size: 1.5vw;
    margin-top: 5px;
    margin-bottom: 4px;
  }
  &__discription {
    font-size: 1.5vw;
    margin-bottom: 10px;
  }
}

.addTask {
  width: 100%;
  height: 10px;
  padding-top: 1vw;
  padding-bottom: 2vw;

  &-btn {
    font-size: 2vw;
    color: rgb(216, 216, 216);
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover {
      color: rgb(128, 128, 128);
    }
    &:active {
      color: rgb(77, 77, 77);
    }
  }
}

@media (max-width: 900px) {
  .task.ul {
    padding: 0px;
    margin: 0px;
  }
  .task.li {
    padding: 0px 5px;
    margin: 4px 2px;
    width: auto;
  }
  .task__name {
    font-size: 2vw;
  }
  .task__discription {
    font-size: 2vw;
  }
  .addTask {
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
}

@media (max-height: 390px) {
  .task.ul {
    padding: 0px;
    margin: 0px;
  }
  .task.li {
    padding: 0px 5px;
    margin: 4px 2px;
    width: auto;
  }
  .task__name {
    font-size: 3vh;
  }
  .task__discription {
    font-size: 3vh;
  }
}
