.task {
  &.ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &.li {
    width: 88%;
    margin: 10px 0 10px 0;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    padding: 5px 20px;
    text-align: center;
    clear: both;
    line-height: 28px;
    color: rgb(71, 71, 71);
    background: rgb(253, 253, 253);
    position: relative;
    user-select: none;
    transition: all 0.3s ease;
    &:hover {
      .taskTools {
        filter: opacity(1);
      }
    }
    .taskTools {
      filter: opacity(0);
      display: flex;
      position: absolute;
      top: -10px;
      right: -10px;
      width: 80px;
      justify-content: space-between;
      transition: filter 0.5s ease;
      .removeTask,
      .completeTask,
      .editTask {
        width: 20px;
        height: 20px;
        color: rgb(156, 156, 156);
        background-color: rgb(254, 254, 254);
        filter: opacity(0.9);
        transition: all 0.2s ease;
        border-radius: 20px;
        border: 2px solid rgb(240, 240, 240);
        cursor: pointer;
        &:hover {
          color: rgb(204, 46, 46);
          filter: opacity(0.8);
        }
        &:active {
          color: rgb(99, 19, 19);
          border: 2px solid rgb(146, 28, 28);
        }
      }
      .completeTask {
        height: 20px;
        color: rgb(190, 190, 190);
        background-color: rgb(254, 254, 254);
        filter: opacity(0.9);
        transition: all 0.2s ease;
        border-radius: 20px;
        border: 2px solid rgb(240, 240, 240);
        cursor: pointer;
        user-select: none;
        &:hover {
          color: rgb(78, 204, 46);
        }
        &:active {
          color: rgb(9, 255, 0);
          border: 2px solid rgb(123, 253, 123);
        }
      }
      .editTask {
        width: 16px;
        height: 16px;
        padding: 2px;
        color: rgb(190, 190, 190);
        &:hover {
          color: rgb(201, 204, 46);
        }
        &:active {
          color: rgb(218, 184, 73);
          border: 2px solid rgb(223, 191, 88);
        }
      }
    }
  }
  &__name {
    font-size: 1.5em;
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-weight: normal;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(240, 240, 240);
    line-height: 40px;
    position: relative;
    .time {
      position: absolute;
      font-size: 0.6em;
      bottom: -5px;
      right: 10px;
      margin: 0 auto;
      color: #000;
    }
  }

  &__discription {
    font-size: 1.1em;
    letter-spacing: 0.03em;
    margin: 15px 0;
    line-height: 35px;
    height: 13em;
    white-space: pre-line;
    color: hsl(0, 0%, 31%);
    overflow: hidden;
    position: relative;
    user-select: text;
    overflow-y: auto;
    text-align: left;

    &::-webkit-scrollbar {
      width: 5px;
      background-color: #f9f9fd;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #e7e7e7;

      &:hover {
        background-color: #dddddd;
      }
    }
  }
}

.openTask {
  width: 100%;
  font-size: 20px;
  color: rgb(202, 202, 202);
  transition: all 0.2s ease;
  cursor: pointer;
  background: none;
  border: none;
  padding: 10px 0 0 0;
  &:hover {
    color: rgb(128, 128, 128);
  }
  &:active {
    color: rgb(77, 77, 77);
  }
}

.addTask {
  width: 100%;
  height: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  user-select: none;

  &-btn {
    font-size: 20px;
    color: rgb(190, 190, 190);
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover {
      color: rgb(128, 128, 128);
    }
    &:active {
      color: rgb(77, 77, 77);
    }
  }
}

@media (max-width: 500px) {
  .task {
    .li {
      width: 95%;
    }
  }

  .task__name {
    font-size: 1.2em;
    line-height: 1em;
    padding-bottom: 15px;
    margin-bottom: 10px;
    text-align: center;
  }

  .task__discription {
    margin: 0 auto;
    width: 80vw;
    height: 12em;
    font-size: 0.8em;
    line-height: 1.2em;
    letter-spacing: 0.04em;
  }
  .openTask {
    font-size: 0.7rem;
  }
  .addTask {
    padding: 10px 0 10px 0;
    &-btn {
      font-size: 0.7rem;
    }
  }
}
